{% extends 'home/base.html' %}
{% load static %}
{% block maincontent %}
  <style>
  .gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
  }
  .gallery-block .heading{
  margin-bottom: 50px;
  text-align: center;
  }
  .gallery-block .heading h2{
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  }
  .gallery-block.compact-gallery .item{
  overflow: hidden;
  margin-bottom: 0;
  background: black;
  opacity: 1;
  }
  .gallery-block.compact-gallery .item .image{
  transition: 0.8s ease;
  }
  .gallery-block.compact-gallery .item .info{
  position: relative;
  display: inline-block;
  }
  .gallery-block.compact-gallery .item .description{
  display: grid;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 1;
  color: #fff;
  transition: 0.8s ease;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
  }
  .gallery-block.compact-gallery .item .description .description-heading{
  font-size: 1em;
  font-weight: bold;
  }
  .gallery-block.compact-gallery .item .description .description-body{
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
  }
  @media (min-width: 576px) {
  .gallery-block.compact-gallery .item .description {
  opacity: 0;
  }
  .gallery-block.compact-gallery .item a:hover .description {
  opacity: 1;
  }
  .gallery-block .zoom-on-hover:hover .image {
  transform: scale(1.3);
  opacity: 0.7;
  }
  }
  </style>
  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h1 class="text-uppercase">
          <strong>Where Money Makes Money</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">The trusted Company For the Related Business</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        </div>
      </div>
    </div>
  </header>
  <section class="container-fluid pt-2 mt-3"id="about">
    <h2 class="text-center mb-5">Our Business Plans</h2>
    <div class="row ">
      
      <div class="col-lg-7" id="single-leg-table">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h1 class="badge badge-danger" style="font-size:1em">Single leg plan</h1>
          </div>
          
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="bg-secondary text-light">
                  <tr>
                    <th>Level</th>
                    <th>Team-Range</th>
                    <th>Incentive %</th>
                    <th>Incentive</th>
                    <th>Direct</th>
                    <th>Upgrade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>0-99</td>
                    <td>5%</td>
                    <td>60000</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>100-999</td>
                    <td>5%</td>
                    <td>70000</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>1000-4999</td>
                    <td>5%</td>
                    <td>80000</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>5000-9999</td>
                    <td>5%</td>
                    <td>90000</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>10000-19999</td>
                    <td>5%</td>
                    <td>100000</td>
                    <td>1</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>20000-39999</td>
                    <td>5%</td>
                    <td>110000</td>
                    <td>1</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>40000-59999</td>
                    <td>5%</td>
                    <td>120000</td>
                    <td>1</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>60000-79999</td>
                    <td>5%</td>
                    <td>130000</td>
                    <td>1</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td>80000-99999</td>
                    <td>5%</td>
                    <td>140000</td>
                    <td>1</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>100000-119999</td>
                    <td>5%</td>
                    <td>150000</td>
                    <td>2</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>120000-139999</td>
                    <td>5%</td>
                    <td>160000</td>
                    <td>2</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>140000-159999</td>
                    <td>5%</td>
                    <td>170000</td>
                    <td>2</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td>160000-179999</td>
                    <td>5%</td>
                    <td>180000</td>
                    <td>2</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>14</td>
                    <td>180000-199999</td>
                    <td>5%</td>
                    <td>190000</td>
                    <td>2</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td>200000</td>
                    <td>5%</td>
                    <td>200000</td>
                    <td>2</td>
                    <td>2</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-hover">
              <div class="panel-heading text-center">
                <h1 class="badge" style="font-size:1em">Level Income</h1>
              </div>
              <thead class="bg-secondary text-light">
                <tr>
                  <th>Level</th>
                  <th>Income</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">1</td>
                  <td>50</td>
                </tr>
                <tr>
                  <td scope="row">2</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td scope="row">3</td>
                  <td>9</td>
                </tr>
                <tr>
                  <td scope="row">4</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td scope="row">5</td>
                  <td>7</td>
                </tr>
                <tr>
                  <td scope="row">6</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td scope="row">7</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td scope="row">8</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td scope="row">9</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td scope="row">10</td>
                  <td>2</td>
                </tr>
                
              </tbody>
            </table>
          </div>
          <hr class="lead">
          <div class="col-lg-12">
            <table class="table table-hover">
              <div class="panel-heading text-center">
                <h1 class="badge" style="font-size:1em">Royality Income</h1>
              </div>
              <thead class="bg-secondary text-light">
                <tr>
                  <th>Direct</th>
                  <th>TurnOver %</th>
                  <th>Day</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">10</td>
                  <td>3%</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td scope="row">20</td>
                  <td>4%</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td scope="row">30</td>
                  <td>5%</td>
                  <td>30</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
<section id="services" class="text-light" style="background-color:#555555">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Us</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
          <h3 class="mb-3">Easy Earning</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
          <h3 class="mb-3">Smart Earning</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
          <h3 class="mb-3">fastest and safest business</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3">security guranted</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gallery-block compact-gallery">
  <div class="container">
    <div class="heading">
      <h4 class="lead">NHPL Gallery</h4>
    </div>
    <div class="row no-gutters">
      
      {% if galleries %}
        
        {% for gallery in galleries  %}
          <div class="cl-md-6 col-lg-4 item zoom-on-hover">
            <a class="lightbox" href="{{ gallery.image.url }}">
              <img class="img-fluid image " src="{{ gallery.image.url }}">
              <span class="description">
                <span class="description-heading">{{gallery.title}}</span>
                <span class="description-body">{{gallery.description}}</span>
              </span>
            </a>
          </div>
        {% endfor %}
      {% endif %}
      
      
      
      
      
    </div>
  </div>
</section>
<section class="bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Eagered to start it</h2>
    <a class="btn btn-light btn-xl sr-button" href="{% url 'register' %}">Join us now</a>
  </div>
</section>


<!-- <section id="contact">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-6 mb-2">
            <img src="{% static 'img/bandan.jpg' %}" class="rounded"  alt="">
            <br>
            <i class="fas fa-phone fa-1x mb-3 sr-contact-1 mt-2"></i>
            <a href="tel:7759855123">Bandan Kumar Dev <br> (Managing Director)</a>
            <a href="mailto:your-email@your-domain.com"><br>bandan.dev123@gmail.com</a>
      </div>
      <br class="bg-dark ">
      <div class="col-lg-6 mt-2 border-primary border-top-3">
        <h4 class="text-center">Franchise Details</h4>
          {% for franchise in franchises  %}
            <div class="card card-responsive">
              <div class="row">
                {% if franchise.franchise_profile_image %}
                  <div class="col-4">
                  <img src="{{franchise.franchise_profile_image.url}}" alt="{{ franchise.franchise_name}}" class="image-responsive " height="100%" width="100% ">
                  </div>
                  {% else %}
                    <div class="col-4">
                      <img src="https://www.clipartmax.com/png/middle/52-521295_club-captain-team-lead-clip-art.png" alt="" class="rounded " height="100%" width="100% ">
                    </div>
                {% endif %}
                <div class="card-body col-8 pl-3">
                  <h5 class="card-title" style="font-weight:bold">{{ franchise.franchise_name}}</h5>
                  <p class="card-text">{{ franchise.franchise_bank_name }}<br>Ac no.{{ franchise.franchise_bank_ac_no }}<br>IFSC{{ franchise.franchise_bank_IFSC}}</p>
                  <a href="tel:{{ franchise.franchise_contact_no }}">{{ franchise.franchise_name}}: <br>{{ franchise.franchise_contact_no }}</a>
                </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

 -->

</section>
<footer class="text-center bg-dark text-light">
  <div>
    <div class="container">
      <!-- Trigger the modal with a button -->
      <a type="button" class="badge badge-primary mt-2" data-toggle="modal" data-target="#myModal">Terms and Conditions</a>
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content text-dark">
            
            <div class="modal-body">
              
              {% for term in terms  %}
                <div class="modal-header">
                  
                  <h4 class="modal-title">{{ term.title}}</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <p>{{term.term}}</p>
              {% endfor %}
              
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
    <span>NHPL @2018</span>
    <span class="mb-3"><a href="http://www.meerako.com" class="link m-1">Developed By Meerako</a></span>
    
  </div>
</footer>

{% endblock maincontent %}
